<div class="footer">
  <div class="footer-box">
    <h3 class="footer-header">address</h3>
    <div class="footer-text footer-address">
      <p>102-5333 Casgrain Ave.</p>
      <p>Montreal, QC Canada</p>
    </div>
  </div>
  <div class="footer-box">
    <h3 class="footer-header">about</h3>
    <div class="footer-text">
      <p>TaskIt! was created with <i class="fa fa-heart-o" aria-hidden="true"></i>
 at Le Wagon bootcamp, batch #98, in Montréal, QC, Canada.</p>
    </div>
  </div>
</div>
