<div class="footer">
  <div class="address-box">
    <h3 class="footer-header">ADDRESS</h3>
    <div class="footer-text">
      <p>5333 Casgrain Ave</p>
      <p>Suite 102</p>
      <p>Montreal, QC</p>
      <p>H2T 1X6</p>
    </div>
  </div>
  <div class="about-box">
    <h3 class="footer-header">ABOUT</h3>
    <div class="footer-text">
      <p>TaskIt! was created with <i class="fa fa-heart-o" aria-hidden="true"></i>
 at Le Wagon bootcamp, batch #98, in Montréal, QC, Canada.</p>
    </div>
  </div>
</div>
