<div class="footer text-left">
  <h3 class="footer-header">Address</h3>
  <div class="footer-text">
    <p>5333 Casgrain Ave</p>
    <p>Suite 102</p>
    <p>Montreal, QC</p>
    <p>H2T 1X6</p>
  </div>
</div>
