<div class="company">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1498409785966-ab341407de6e?auto=format&fit=crop&w=1520&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');">
    <div class="card-category"><%= company.industry  %></div>
    <div class="card-description">
      <h2><%= company.name %></h2>
      <p><%= company.address %></p>
    </div>
    <%= link_to company.name, company_path(company), class: "card-link" %>
  </div>
</div>
