
<h2 class="internship-title">Available Internships</h2>

<form action="/companies">
            <div class="form-group">
              <label for="industry">Please enter industry to search:</label>
              <div class="box">
                <input type="text" id="search" name="search">
              </div>
            </div>
          <button id="submit" type="submit" class="btn btn-primary">Go</button>
          </form>

<div class="flex-container">
<div class="companies">
    <% @companies.each do |company| %>
      <%= render partial: company %>
      <% end %>
</div>


<div class="map-container">
  <div id="map" style="width: 100%; height: 600px;"></div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  <% end %>
<% end %>
