<h1> <%=@company.name %></h1>
<div class="info">
  <p>Industry: <%=@company.industry %></p>
  <p>Address: <%= @company.address %></p>
  <img src="https://images.unsplash.com/photo-1461988625982-7e46a099bf4f?auto=format&fit=crop&w=1950&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt="">
  <h2> Description: </h2>
  <p> <%= @company.description %> </p>
</div>










