.footer {
  background-color: black;
  padding: 10px;
}

.footer-header {
  font-size: 25px;
  color: rgb(220,220,220);
}

.footer-text {
  color: rgb(180,180,180);
  font-size: 15px;
  line-height: 10px;
}
