.footer {
  background-color: #2a2b2d;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Helvetica', 'sans-serif';
  font-weight: lighter;

}

.footer-box {
  margin: 0px;
  line-height: 3;
  line-height: 1.5;
  border-bottom: rgba(255,255,255,0.4) solid 1px;
  border-top: rgba(255,255,255,0.4) solid 1px;
  height: 70px;
  width: 280px;
  text-align: center;
  align-items: center;
}

.footer-header {
  font-size: 15px;
  color: rgba(255,255,255, 0.9);
  margin: 5px;
}

.footer-text {
  color: rgba(255,255,255, 0.7);
  font-size: 12px;
}

.footer-address {
  line-height: .5;
  margin: 10px;
}
