.form-body {
  // margin: 50px 500px 90px;
  text-align: center;
  background-color: white;
  padding: 40px;
  border-color: black;
  border-width: 2px;
  margin-bottom: 50px;
  // padding-top: 50px;
  // padding-bottom: 90px;
}

.form-title {
  font-family: 'Pacifico', cursive;
  color: #88CAFE;
  padding-bottom: 20px;
}

body.page-sessions-new {
  background-color: rgb(245,245,245);
  // background-color: grey;
}

body.page-registrations-new {
  background-color: rgb(245,245,245);
  //background-color: rgba(136,202,254,0.4);
  // background-color: grey;
}

.form-group label {
  font-weight: lighter;
}
