.user-name {
  font-family: 'Pacifico', cursive;
  color: #88CAFE;
  font-weight: 100;
}

.name {
  //color: rgba(0,0,0,6);
  font-weight: bold;
  //color: #88CAFE;
}

.text {
  //color: rgb(136,202,254);
  color: rgb(130,130,130);
}

.user-card {
    background: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  }

.text-center {
  text-align: center;
}

.style_image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid #cccccc;
  display: block;
  margin: auto;
}

body.page-users-show {
  background-color: rgb(245,245,245);
  //background-color: rgba(136,202,254,0.4);
  // background-color: grey;
}

.company-button {
  padding: 20px;
  border-radius: 3px;
  background-color: black;

}













